<br>
<div class="main" class="col-xs-8">

<div class="header">

<h1>Verð og leiðréttingarforrit</h1>
</div>
<div class="container-fluid " >

<br>
<br>
<br>
<p>
Stafsetning er lagfærð og málfarsatriði eru yfirfarin og færð til betri vegar. Allar leiðréttingar eru gerðar í Word tracks en einnig er hægt að fara yfir prentaðan texta þar sem villur eru leiðréttar á spássíu.</p>

<p>Uppgefið verð er 1,5 krónur á orð en tekið er tillit til frágangs, þ.e. ef lítið þarf að leiðrétta lækkar verð samhliða því. Ef um stærri verkefni er að ræða er miðað við tilboð, eftir lengd verkefna.</p>
<p>
Eina sem þú þarft að gera er að hafa samband og tilgreina efnisinnihald, orðafjölda og ákveða tímamörk.
</p>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>