<br>

<div class="main">

<div class="container-fluid">

<div class="page-header">

<h1>Prófarkalestur og námsaðstoð</h1>
</div>
<br>
<br>
<br>
<p>Yfirlestur texta er mjög mikilvægur. Vandaður texti ýtir undir trúverðugleika og gefur textanum ákveðinn gæðastimpil.</p>
<br>
<p>
Þegar texti er yfirfarinn þarf að huga að málfari, stafsetningu og öðrum frágangi hans. Prentvillur í texta þarf að leiðrétta og línuskiptingar þurfa að vera réttar. Rétt greinamerkjasetning skiptir þar einnig miklu máli. Samræmi þarf að vera í notkun greinamerkja og beygingar þurfa að vera réttar.</p>
<br>
<p>
Málfar og orðalag þarf að vera samkvæmt viðurkenndum stöðlum og í samræmi við textagerðina.</p>
<br>
<p>
Yfirlestur er mikil nákvæmnisvinna því huga þarf að smæstu einingum textans og færa til betri vegar. Mikilvægi yfirlestrar verður því seint ofmetinn.</p>
<br>
<p>Jóhannes B. Sigtryggsson (ritstj.). 2011. Handbók um íslensku. JPV útgáfa, Reykjavík.</p>

</div>
</div>