<br>
<div class="main">
<div align="center">

<div class="header">

<h1>Auglýsingar</h1>
</div></div>
<div class="container-fluid ">

<br>
<br>
<br>

<p>Þegar textar eru lesnir yfir þarf að huga að textategundinni; að málsniðið henti textanum. Auglýsingatextar eru t. d. af öðrum toga heldur en ritgerðir og aðrir fræðitextar. Texti í auglýsingum þarf að vera hnitmiðaður og hæfa því efni sem auglýst er. Við yfirlestur auglýsinga þarf að hafa önnur atriði í huga heldur en þegar fræðitexti er lesinn yfir. Gæta þarf hins vegar alltaf að því að orðalag, stafsetning og málfar sé eins og best verður á kosið eins og þegar annars konar texti er lesinn yfir.</p>
</div>
