<div class="span2">
	<br>
	<br> 
	<br>
  <p> 
  	<div class="row">
  <div class="col-sm-4">
    <div class="sidebar-nav">
        <div class="navbar-header">
          <div class ="sidebar-nav main-selection">
            <div class = "sidebar-filter-header">
              <a><%= link_to "Yfirlestur handrita og Prófarka", handrit_path, {:class =>"navbar-brand"} %></a>

      <a><%= link_to "Auglýsingatextar", aug_path, {:class =>"navbar-brand"} %></a>
      <a><%= link_to "Blaða og tímaritsgreinar", timarit_path, {:class =>"navbar-brand"} %></a>
        	      	<%= image_tag("side4.png", :alt => "rss feed") %>

  </ul>
</div>
</div>
</div>
</div>


  </p>
</div>