<br>
<div class="main">

<div class="container-fluid ">
<div class="page-header">

<h1>Yfirlestur handrita og prófarka</h1>
</div>
<p>Hvaða atriði þarf að hafa í huga við yfirlestur:
</p>

<p>Við frágang á texta þarf að huga vel að stafsetningu. Ef villuleitarforrit hafa verið notuð þarf sérstaklega að leita að villum sem slík forrit geta ekki lagað.
Fara þarf vandlega yfir orðskiptingar milli lína. Ekki er t.d. gott ef þrjár eða fleiri línur í röð enda á skiptingu. Athuga þarf einnig yfirbragð hverrar síðu hvað viðkemur leturgerð, leturstærð, leturbreytingum, línubili, stafsetningu, kaflaheiti og blaðsíðutali. Síða á t. a. m. aldrei að hefjast á síðustu línu efnisgreinar eða enda á fyrstu línu efnisgreinar o.s frv. 
Huga þarf vel að samræmi í texta hvað varðar leturgerð, notkun greinaskila og framsetningu upplýsinga o.s.frv. Samræmi þarf að vera í tilvitnunum og frágangi heimilda. Einnig þarf að hafa vakandi auga yfir rökleysu og samhengislausu og óskýru orðalagi.</P>
<br>
<br>
<br>
<p>Heimild:</p>

<p>Jóhannes B. Sigtryggsson (ritstj.). 2011. Handbók um íslensku. JPV útgáfa, Reykjavík.
</p>
</div></div>