<br>
<br>
<br>
<bf>
<div class="container">

<h1>Námsaðstoð í íslensku fyrir nemendur í íslensku á grunn- og framhaldsskólastigi.</h1>
<br>
<br>
<br>
<p>Námsaðstoð er oft þörf þegar nemendur dragast aftur úr í námi. Oft er um tímabundna erfiðleika að ræða og þá er gott að grípa inn í og styðja nemendur og hjálpa þeim að öðlast sjálfstraust á ný.</p> 
<p>Ef þú átt við eitthvað af eftirtöldum atriðum að glíma bendir það til þess að þú þurfir á námsaðstoð að halda:
</p>
<ul class="fa-ul">
  <li><i class="fa-li fa fa-check-square"></i>átt í erfiðleikum með að fylgja námsáætlun</li>
  <li><i class="fa-li fa fa-check-square"></i>skilar ekki heimaverkefnum á tilsettum tíma</li>
<li><i class="fa-li fa fa-check-square"></i>lendir alltaf í lélegasta hópnum þegar bekknum er skipt upp</li>
<li><i class="fa-li fa fa-check-square"></i>færð kvíðaköst fyrir próf</li>
<li><i class="fa-li fa fa-check-square"></i>missir áhugann á námi</li>
<li><i class="fa-li fa fa-check-square"></i>hættir að vilja mæta í skólann sökum vanlíðunar
</li>
<br>
<p>Ekki er alltaf auðvelt að henda reiður á ástæður námserfiðleika. Þeir geta verið mismunandi, s.s. lesblinda, sértækir námsörðugleikar eða önnur vandamál sem upp koma í fjölskyldum. Að ná betri árangri í námi bætir vellíðan og ýtir undir sjálfstraust.</p>

<p>Til þess að ná sem mestum árangri út úr námsaðstoðinni er mikilvægt að nemendur séu virkir og taki þátt sjálfir. Gott er að punkta hjá sér jafnóðum fyrir og eftir tímana og þegar heimanámið er unnið er nauðsynlegt að skima hvar veikleikarnir liggja og hvar þörfin er mest. Námsaðstoðin nýtist best ef unnið er jafnóðum með erfiðleikana og þá geta nemendur spurt kennarann jafnóðum og fengið sem besta aðstoð.
Mundu að koma alltaf með öll gögn með þér í tímana.</p>

</div>
<br>
<br>