<br>
<br>
<br>
<br>
<div class="main">

<div class="container">

<h1>Bakgrunnur</h1>
<br>
<br>
<br>
<p>2013, kennsluréttindi fyrir efstu bekki grunn- og framhaldsskóla í íslensku</p>
<br>
<p>2011, MA-gráða í íslenskum fræðum</p>
<br>
<p>2007, BA-gráða í íslensku</p>
<br>
<br>
</div></div>