<br>

<div class="main">

<div class="container-fluid ">
<div class="page-header">

<h1>Bakgrunnur</h1>
</div>
<br>
<br>
<br>
<p>2013 Kennsluréttindi fyrir efstu bekki grunn- og framhaldsskóla í íslensku</p>
<br>
<p>2011 MA-gráða í íslenskum fræðum</p>
<br>
<p>2007 BA-gráða í íslensku</p>
<br>
<br>
</div></div>