
<div class="container">
<br>
<br>
<br>
<h1>Blaða- og tímaritsgreinar</h1>
<br>
<br>
<br>
<br>
<p>Greinar í blöðum og tímaritum krefjast nákvæms yfirlesturs og eru lesnar yfir á sama hátt og aðrar prófarkir og handrit. Þar þarf einnig að hafa í huga málfar, stafsetningu, leturgerð, leturstærð, leturbreytingar, línubil, kaflaheiti og blaðsíðutal. Lestur greina krefjast einnig mikillar nákvæmni og vandaðs orðalags. Óvandaður texti getur haft slæm áhrif á lesendur og hamlað því að efnisinnihald skili sér á tilætlaðan hátt.</p>
<br>
<br>
<br>
<br>
<p>Heimild:</p>
<br>
</div>