@import "bootstrap-sprockets";

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-responsive";

.navbar .nav > a {
	  
      padding:15px 50px 15px;
  background-repeat: repeat-x;


}
a{
  color: black;
}
header {
        background-image: url('mynd.jpg');

}
html {
  overflow-y: scroll;
   height: 100%;
}

body {
 height: 100%;
 zoom: 80%;
  padding-top: 60px;
  background-image: url('new.jpg');

}
form{
     text-align:center;

}
section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {

  margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 4em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.3em;
font-family: 'Tangerine', serif;
  line-height: 1.7em;
}
ul{
  font-size: 1.3em;

  line-height: 1.7em;


}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;

}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}