<footer class="footer ">
  <small>
     <a href="www.facebook.com/">Prófarkalestur Önnu</a>
    by <a href="http://www.michaelhartl.com/">Anna Helgadóttir </a>
  </small>
    <ul>
    <small>

      <a> Sími 6619093, netfang:</a> 
      <a><%= link_to "annahel@simnet.is", contact_path %></a>
    </small>
  </ul>
 
</footer>