
<footer class="footer">
  <div class="footer navbar-fixed-bottom">
  <small>
     <a href="www.facebook.com/">Prófarkalestur Önnu</a>
    by <a href="http://www.michaelhartl.com/">Anna Helgadóttir </a>
  </small>
  <nav>
    <ul>
    <small>

      <a> Sími 6619093, netfang:</a> 
      <a><%= link_to "annahel@simnet.is", contact_path %></a>
    </small>
  </ul>
  </nav>
</div>
</footer>